*{
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
}

.App{
    background-color: #EBEBEB;
    min-height:100vh;
}

.no-posts{
    text-align:center;
    color:#555555;
}

.scroll-to-top{
    background-repeat:no-repeat;
    background-image:url(../assets/arrow180.png);
    position:fixed;
    width:40px;
    height:40px;
    background-size:32px;
    background-position:center;
    right:40px;
    bottom:40px;
    cursor:pointer;
    background-color: #F8F8F8;
    border-radius:15px;
    border: 1px solid #B3B3B3;
}

.load-more{
    text-align:center;
    color:#555555;
    margin-bottom:20px;
    cursor:pointer;
    &:hover{
        text-decoration: underline;
    }
}

.loading{
    width:100vw;
    height:100vh;
    background-color: #FFFFFF;
    position:absolute;
    z-index:1;
}

.lds-ring {
    position: relative;
    width: 40px;
    height: 40px;
    margin:0 auto;
    margin-bottom:30px;
  }
  .lds-ring div {
    box-sizing: border-box;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 4px solid #CECCCC;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #CECCCC transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

header{
    .header-wrapper{
        width:90%;
        max-width:1400px;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        .logo{
            display:inline-block;
            height:25px;
            img{
                height:25px;
            }
            margin-right:50px;
            margin-top:3px;
        }
        nav{
            display:inline-block;
            font-size:14px;
            width:240px;
            .board-icon{
                margin-right:10px;
            }
            .current-board{
                padding:7px 15px;
                border:1px solid #707070;
                border-radius:5px;
                &:hover{
                    cursor:pointer;
                }
            }
            .current-board.closed{
                background:url(../assets/arrow.png);
                background-repeat:no-repeat;
                background-size:15px 15px;
                background-position:210px;
            }
            .current-board.open{
                background:url(../assets/arrow180.png);
                background-repeat:no-repeat;
                background-size:15px 15px;
                background-position:210px;
            }
            vertical-align: top;
            position:relative;
            .boards{
                z-index:1;
                position:absolute;
                width:100%;
                margin-top:17px;
                background-color: #FFFFFF;
                border-radius:5px;
                box-sizing:border-box;
                overflow:hidden;
                li{
                    padding:12px 15px;
                    list-style-type:none;
                }
                .board{
                    &:first-child{
                        border-radius:5px 5px 0 0;
                    }
                    &:hover{
                        background-color:#F3F3F3;
                    }
                    a{
                        display:block;
                        color: #000000;
                        text-decoration: none;
                        padding:12px 15px;
                    }
                    padding:0;
                }
                .board.all{
                    padding-bottom:0;
                    a{
                        border-right:50px #FFFFFF;
                        padding-bottom:10px;
                        border-bottom:1px solid #B5B5B5;
                    }

                }
                .delimiter{
                    background:url(../assets/delimiter.png);
                    background-repeat:no-repeat;
                    background-position:center;
                    padding-top:20px;
                    padding-bottom:20px;
                }
                .footer{
                    padding-top:0;
                    .devs{
                        font-size:14px;
                        p{
                            margin-bottom:5px;
                            color:#555555;
                        }
                        a{
                            text-decoration:none;
                            font-size:12px;
                            color:#7A7A7A;
                            margin-bottom:5px;
                            display:block;
                        }
                    }
                    .info{
                        margin-top:25px;
                        .logo{
                            img{
                                height:20px;
                            }
                        }
                        p{
                            font-size:12px;
                            color:#7A7A7A;
                            padding:10px 0;
                        }
                        ul{
                            li{
                                padding:0;
                                margin-bottom:3px;
                                a{
                                    text-decoration:none;
                                    font-size:10px;
                                    color:#7A7A7A;
                                }
                            }
                            margin-bottom:17px;
                        }
                    }
                }
            }
            .boards.closed{
                height: 0;
                transition: all 0.3s;
                opacity: 0;
            }
            .boards.open{
                height: auto;
                transition: all 0.3s;
                border:1px solid #707070;
                opacity: 1;
            }

        }
    }
    padding:25px 0px;
    border-bottom:1px solid #B3B3B3;
    background-color:#FFFFFF;
}
.banner{
    border-bottom: 1px solid #B3B3B3;
    padding:37px 0;
    background-color: #FFFFFF;
    .content-wrapper{
        width:85%;
        margin:0 auto;
        max-width:1200px;
        .board-name{
            font-size:28px;
            font-weight: normal;
        }
        .board-desc{
            margin-top:10px;
            font-size:20px;
            font-weight: normal;
        }
    }
}
.posts{
    .main-content-wrapper{
        width:80%;
        max-width:990px;
        margin: 0 auto;
        margin-top:35px;
        display:flex;
        .left{
            flex-grow: 1;
            padding-bottom:40px;
        }
    }

    .search{
        width:100%;
        padding:15px 45px;
        box-sizing:border-box;
        font-size:16px;
        border:1px solid #B3B3B3;
        border-radius:5px;
        background:url(../assets/search.png);
        background-color: #FFFFFF;
        background-size:25px;
        background-repeat:no-repeat;
        background-position:13px 11px;
    }
    .filters{
        padding:20px 5px;
    }

    .post{
        display:flex;
        margin-bottom:30px;
        .views-counter{
            img{
                height:40px;
            }
            margin-right:20px;
            p{
                text-align: center;
            }
        }
        .content{
            padding:10px 0;
            .meta{
                display:flex;
                align-items: center;
                .board{
                    font-size:16px;
                    margin-right:10px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                    color: #000000;
                }
                .delimiter{
                    background:url(../assets/delimiter.png);
                    background-repeat:no-repeat;
                    background-position:center;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-right:10px;
                    padding:0;
                }
                .date{
                    font-size:12px;
                    color:#8F8F8F;
                }
                margin-bottom:10px;
            }
            .tags{
                margin-bottom:15px;
                .tag{
                    display:inline-block;
                    font-size:10px;
                    padding:3px 10px;
                    border:1px solid #E0E0E0;
                    border-radius:5px;
                    margin-right:10px;
                    background-color:#F8F8F8;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
            .title{
                font-size:24px;
                font-weight: normal;
                margin-bottom:10px;
                text-decoration: none;
                color: #000000;
                display:block;
                &:hover{
                    text-decoration: underline;
                }
            }
            .attachments{
                margin-bottom:15px;
                a{
                    margin-right:7px;
                    text-decoration:none;
                    color:#7F7BFF;
                }
                span{
                    color:#757575;
                }
            }
            .short-desc{
                color:#757575;
                font-size:16px;
            }
            .comments{
                display:inline-block;
                margin-top:50px;
                color: #8D8D8D;
                text-decoration: none;
                font-size:14px;
            }
        }
        padding:20px 50px 40px 20px;
        background-color: #FFFFFF;
        border-radius:5px;
        border:1px solid #B3B3B3;
    }
    .posts-list{
        .delimiter{
            background:url(../assets/delimiter.png);
            background-repeat:no-repeat;
            background-position:center 5px;
            padding:20px 0;
        }
    }
}



.filter{
    display:inline-block;
    .name{
        display:inline-block;
        font-size:16px;
        vertical-align: top;
        margin-right:15px;
    }
    .options{
        display: inline-block;
        .current-option{
            font-weight: bold;
            padding-right:30px;
            cursor: pointer;
        }
        .current-option.open{
            background:url(../assets/arrow180.png);
            background-repeat:no-repeat;
            background-size:15px 15px;
            background-position:right;
        }
        .current-option.closed{
            background:url(../assets/arrow.png);
            background-repeat:no-repeat;
            background-size:15px 15px;
            background-position:right;
        }
        .options-list{
            margin-top:10px;
            position: absolute;
            li{
                &:first-child{
                    border-radius: 5px 5px 0 0;
                }
                &:last-child{
                    border-radius: 0 0 5px 5px;
                }
                list-style-type:none;
                padding:5px 10px;
                &:hover{
                    background-color: #F9F9F9;
                    cursor:pointer;
                }   
                font-size:14px;
            }
            background-color: #FFFFFF;
            border-radius: 5px;
            border:1px solid #707070;
            min-width:100px;
        }
        .options-list.closed{
            height:0;
            opacity:0;
            border: none;
            overflow:hidden;
        }
        .options-list.open{
            height:auto;
            opacity:1;
            transition: opacity 0.3s;
            border-radius: 5px;
            border:1px solid #707070;
        }
    }
    
    position:relative;
    margin-right: 40px;
}

footer{
    margin-left:30px;
    .devs{
        width:299px;
        height:186px;
        padding:25px 20px;
        border:1px solid #B3B3B3;
        border-radius:5px;
        background:url(../assets/githublogo.png);
        background-repeat:no-repeat;
        background-color: #FFFFFF;
        background-position:150px 25px;
        box-sizing: border-box;
        p{
            font-size:12px;
            margin-bottom:3px;
        }
        a{
            font-size:12px;
            display:inline-block;
            text-decoration: none;
            margin-bottom:5px;
            color: #7A7A7A;
        }
    }
    .info{
        margin-top:20px;
        margin-bottom:30px;
        width:299px;
        height:186px;
        padding:25px 20px;
        border:1px solid #B3B3B3;
        border-radius:5px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            color:#7A7A7A;
            font-size:12px;
        }
        .sitemap{
            display:flex;
            justify-content: space-between;
            .logo{
                display:inline-block;
                height:25px;
                img{
                    height:25px;
                }
                margin-right:50px;
            }

            ul li{
                list-style-type: none;
                margin-bottom:4px;
                a{
                    text-decoration:none;
                    font-size:12px;
                    color:#7A7A7A;
                }
            }
        }
    }
}

.full-post{
    .main-content-wrapper{
        width:80%;
        max-width:990px;
        margin: 0 auto;
        margin-top:35px;
        display:flex;
        .left{
            flex-grow: 1;
        }
    }

    .post{
        display:flex;
        margin-bottom:30px;

        .views-counter{
            img{
                height:40px;
            }
            margin-right:20px;
            p{
                text-align: center;
            }
        }
        .content{
            padding:10px 0;
            .meta{
                display:flex;
                align-items: center;
                .board{
                    font-size:16px;
                    margin-right:10px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                    color: #000000;
                }
                .delimiter{
                    background:url(../assets/delimiter.png);
                    background-repeat:no-repeat;
                    background-position:center;
                    display:inline-block;
                    width:15px;
                    height:15px;
                    margin-right:10px;
                    padding:0;
                }
                .date{
                    font-size:12px;
                    color:#8F8F8F;
                }
                margin-bottom:10px;
            }
            .tags{
                margin-bottom:15px;
                .tag{
                    display:inline-block;
                    font-size:10px;
                    padding:3px 10px;
                    border:1px solid #E0E0E0;
                    border-radius:5px;
                    margin-right:10px;
                    background-color:#F8F8F8;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
            .title{
                font-size:24px;
                font-weight: normal;
                margin-bottom:10px;
            }
            .attachments{
                margin-bottom:15px;
                a{
                    margin-right:7px;
                    text-decoration:none;
                    color:#7F7BFF;
                }
                span{
                    color:#757575;
                }
            }
            .full-desc{
                color:#757575;
                font-size:16px;
            }
            .comments{
                display:inline-block;
                margin-top:50px;
                color: #8D8D8D;
                text-decoration: none;
                font-size:14px;
            }
        }
        padding:20px 40px 40px 20px;
        background-color: #FFFFFF;
        border-radius:5px;
        border:1px solid #B3B3B3;

    }
    .delimiter{
        background:url(../assets/delimiter.png);
        background-repeat:no-repeat;
        background-position:center 5px;
        padding:20px 0;
    }
}

.about{
    .main-content-wrapper{
        width:80%;
        max-width:990px;
        margin: 0 auto;
        margin-top:35px;
        display:flex;
        .left{
            flex-grow: 1;
            background-color: #FFFFFF;
            padding: 30px;
            .about-header{
                font-size:24px;
                margin-bottom:10px;
            }
            .about-text{
                margin-bottom:20px;
                padding-left:10px;
            }
            border:1px solid #B3B3B3;
            border-radius:5px;
        }
    }
}

@media screen and (max-width:1000px){
    footer{
        display:none;
    }
    .posts, .full-post{
        .main-content-wrapper{
            width:90%;
            max-width:600px;
        }
    }

}

@media screen and (max-width:600px){
    .banner{
        .content-wrapper{
            .board-name{
                font-size:22px;
            }
            .board-desc{
                font-size:16px;
            }
        }
    }
    .posts, .full-post{
        .search{
            font-size:14px;
        }
        .post{
            .views-counter{
                img{
                    height:30px;
                }
            }
            .content{
                padding:7px 0;
                .title{
                    font-size:20px;
                }
                .short-desc, .full-desc{
                    font-size:14px;
                }
                .meta{
                    .board{
                        font-size:14px;
                    }
                    .date{
                        font-size:10px;
                    }
                }
                .attachments{
                    a{
                        font-size:12px;
                    }
                }
            }
        }
    }

    .filter{
        margin-right:15px;
        .name{
            font-size:14px;
        }
        .options{
            font-size:14px;
            vertical-align:top;
            .options-list{
                li{
                    font-size:12px;
                }
            }
        }
    }

    header{
        .header-wrapper{
            nav{
                width:180px;
                .current-board.closed{
                    background:url(../assets/arrow.png);
                    background-repeat:no-repeat;
                    background-size:15px 15px;
                    background-position:150px;
                }
                .current-board.open{
                    background:url(../assets/arrow180.png);
                    background-repeat:no-repeat;
                    background-size:15px 15px;
                    background-position:150px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    .banner{
        padding:30px 0;
        .content-wrapper{
            .board-name{
                font-size:20px;
            }
            .board-desc{
                font-size:14px;
            }
        }
    }
    .posts, .full-post{
        .search{
            font-size:12px;
            padding:12px 45px;
            background-position:13px 7px;
        }
        .post{
            padding:20px 25px 20px 15px;
            .views-counter{
                img{
                    height:25px;
                }
                margin-right:15px;
            }
            .content{
                padding:4px 0;
                .title{
                    font-size:16px;
                }
                .short-desc, .full-desc{
                    font-size:12px;
                }
                .meta{
                    .board{
                        font-size:12px;
                    }
                    .date{
                        font-size:8px;
                    }
                }
                .tags{
                    .tag{
                        font-size:8px;
                        padding:2px 5px;
                    }
                }
                .clip{
                    font-size:10px;
                }
                .attachments{
                    a{
                        font-size:10px;
                    }
                }
            }
        }
    }

    .filter{
        margin-right:15px;
        .name{
            font-size:12px;
            margin-right:8px;
        }
        .options{
            font-size:12px;
            vertical-align:top;
            .options-list{
                min-width:80px;
                li{
                    font-size:12px;
                }
            }
            .current-option{
                padding-right:20px;
            }
        }
    }

    header{
        .header-wrapper{
            .logo{
                margin-bottom:10px;
                img{
                    height:23px;
                }
            }
            nav{
                .current-board{
                    padding: 5px 10px;
                    font-size:12px;
                }
                .boards{
                    .board{
                        a{
                            padding:5px 10px;
                            font-size:12px;
                        }
                    }
                    .delimiter{
                        padding:15px;
                    }
                    .footer{
                        .devs{
                            font-size:12px;
                            a{
                                font-size:10px;
                            }
                        }
                        .info{
                            margin-top:15px;
                            .logo{
                                img{
                                    height:18px;
                                }                            
                            }
                            p{
                                font-size:8px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}